Custom CSS to ensure modal is centered
.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.modal-content {
  border-radius: 8px;
  overflow: hidden;
}

/* 

.container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center; 
}

.details {
  font-size: 18px;
  margin-bottom: 10px;
}

.buttons {
  
  margin-top: 20px;
  display: flex;
  justify-content: center; 
}

.button {
  margin-right: 10px;
  height: 32px;
  margin: 180px; 
}

.modal-content {
  border-radius: 8px;
}

.modal-header, .modal-body, .modal-footer {
  padding: 15px;
}

.modal-title {
  font-size: 20px;
} */
