.post-details-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

 .flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.post-details-container button.red {
  background-color: rgb(228, 23, 23);
}
.post-details-container button.red:hover {
  background-color: rgb(167, 14, 14);
}
.reaction-buttons{
  display: flex;
  
  align-items: center;
  margin-top: 20px;
}
.post-details-container img {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
}

.post-details-container a {
  text-decoration: none;
  color: #007bff;
}

.post-details-container a:hover {
  text-decoration: underline;
}

.post-details-container .user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.post-details-container .user-profile img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.post-details-container .post-content {
  margin-bottom: 20px;
}

.post-details-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.post-details-container button:hover {
  background-color: #0056b3;
}

.comments-section {
  margin-top: 20px;
}

.comments-section .comment {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.comments-section .comment img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.comments-section .delete-comment-button {
  background-color: #dc3545;
  color: white;
  border: none;
  width: 100px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
#editButton a{
  color: rgb(255, 255, 255);

  border: none;
  padding-left: 7px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
  text-decoration: none;

}
.comments-section .delete-comment-button:hover {
  background-color: #c82333;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  box-sizing: border-box;
  font-size: 16px;
}

textarea:focus {
  border-color: #007bff;
  outline: none;
}

.post-details-container button.like-button{
  
  
 
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.post-details-container button.clicked{
  
  
 color: black;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}