.profile-container {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  width: 100%;
  padding: 20px;
}

.profile-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-bottom: 20px; 
}

.profile-header img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 20px; 
}

.profile-header p {
  margin: 5px 0;
}

.sections-container {
  display: flex;
  justify-content: space-between; 
  width: 100%;
}

.section {
  width: 30%; 
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.section h3 {
  margin-bottom: 10px;
}

.section button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.section button:hover {
  background-color: #0056b3;
}

.section a {
  text-decoration: none;
  color: #007bff;
}

.section a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .sections-container {
    flex-direction: column;
    width: 100%;
  }

  .section {
    width: 100%;
  }
}

.the-lord {
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 0; 
  background-color: #007bff; 
  border-radius: 5px;
 
  cursor: pointer;
}


.the-lord:hover {
  background-color: #0056b3;
}
