.private {
  display: flex !important;
  align-items: center;
  margin-left: 12px;
  margin-bottom: 0px;
}

input[type="checkbox"] {
  margin-left: 10px;
}

.updateProfile {
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 8px 0;
  padding: 12px 15px;
  font-size: 15px;
  border-radius: 5px;
  width: 100%;
  outline: none;
  
}