
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%; 
  height: 70px; 
  background-color: #ffffff; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border-bottom: 1px solid #ddd; 
  z-index: 1000; 
  padding: 0 20px; 
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}


body {
  padding-top: 70px; 
}


.nav-left {
  display: flex;
  flex-grow: 1; 
  margin-right: auto; 
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  position: relative;
  margin-right: 20px;
}

.nav ul li a {
  display: flex;
  align-items: center;
  padding: 10px 10px; 
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease; 
}

.nav ul li a:hover {
  color: #007bff;
  transform: scale(1.05); 
}

.nav ul li a .icon {
  font-size: 1.5em; 
  margin-right: 8px; 
}

.nav ul li.active a {
  color: #007bff; 
  font-weight: bold; 
}


.nav-right .signout {
  margin-left: 20px; 
}

.nav-right .signout a {
  display: flex;
  align-items: center;
  padding: 10px 20px; 
  text-decoration: none;
  color: #dc3545;
  transition: color 0.3s ease, transform 0.3s ease; 
}

.nav-right .signout a:hover {
  color: #c82333; 
  transform: scale(1.05); 
}

.nav.scrolled {
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}



.logo {
  width: 40px;
  height: 30px;
  margin-bottom: 7px;
}


@media screen and (max-width: 968px) {
 

  .hide {
    display: none; 
  }
  .nav ul li a {
    padding: 1px 1px;
  }


  .nav ul li  {
 margin-right: 9px;   
  }
  
   
  

 
}


@media screen and (max-width: 480px) {
  

  .hide {
    display: none; 
  }

  .nav ul li a {
    padding: 1px 1px;
  }
  .logo {
    width: 35px;
    height: 27px;
    margin-bottom: 7px;
  }
  .nav ul li  {
    margin-right: 1px;   
     }
     
     .nav-right .signout a {
      display: flex;
      align-items: center;
      padding: 0px 0px; 
      text-decoration: none;
      color: #dc3545;
      transition: color 0.3s ease, transform 0.3s ease; 
    }
     
      
}
