.chat {
  height: calc(100vh - 70px);
  display: flex;
}

.chatList {
  flex: 4;
}

.chatBox {
  flex: 8;
}

.chatListWrapper,
.chatBoxWrapper {
  padding: 10px;
  height: 100%;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.SearchInput {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.conversation {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.friendName {
  font-weight: 500;
}

.conversation:hover {
  background-color: rgb(222, 221, 221);
}

.chatOnlineBadge {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #4caf50;
  border-radius: 50%;
  top: 2px;
  right: 5px;
}

.message {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.messageTop {
  padding: 10px;
  border-radius: 15px;
  max-width: 400px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.msgMine {
  align-items: flex-start;
  margin-left: auto;
}

.msgOther {
  align-items: flex-end;
  margin-right: auto;
}

.msgMine .messageTop {
  background-color: #007bff;
  color: #fff;
  text-align: right;
}

.msgOther .messageTop {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
}

.messageText {
  font-size: 14px;
  padding: 8px;
}

.messageBottom {
  font-size: 12px;
  margin-top: 4px;
  text-align: right;
  color: #888;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatText {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.sendButton {
  width: 70px;
  height: 40px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Adjust size as needed */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px; /* Adjust width as needed */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content p {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-content p:hover {
  background-color: #f1f1f1; /* Change background on hover */
}
