body {
  font-family: "Arial", sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #3b5998;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #4a4a4a;
}

.add-post-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6366f1;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-post-link:hover {
  background-color: #4f46e5;
  transform: scale(1.1);
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-items: center;
  padding: 0 1rem;
}

.post-card {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-image {
  width: 400px;
  height: 250px;
  object-fit: fill;
}

.post-content {
  padding: 1.5rem;
  font-size: 1rem;
  color: #333;
}

.post-content p {
  margin: 0;
  line-height: 1.5;
  text-decoration: none;
}

@media screen and (max-width: 1440px) {
  .dashboard-container {
    padding: 1.5rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .post-card {
    max-width: 350px;
  }
}

@media screen and (max-width: 1280px) {
  .dashboard-container {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  .post-card {
    max-width: 320px;
  }

  .post-grid {
    gap: 1.5rem;
  }
}


@media screen and (max-width: 1024px) {
  .post-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .post-image {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .post-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .post-card {
    max-width: 250px;
  }

  .post-image {
    height: 180px;
  }
}

@media screen and (max-width: 480px) {
  .post-grid {
    grid-template-columns: 1fr;
  }

  .post-card {
    max-width: 100%;
  }

  .post-image {
    height: 150px;
  }
}
